<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li><a href="">About</a></li>
          <li><a href="">Careers</a></li>
          <li><a href="">Coomunity</a></li>
        </ul>
      </div>
      
      <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-2">
        <ul class="contact-list">
          <li>Sales : +1-888-937-0329</li>
          <li>Support: +1-877-837-2203</li>
          <li>UK: +44-(0)-20-3761-5501</li>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
