<header class="site-header">

  <div class="wrapper">

    <h1>Open Source Projects</h1>
    <p>A collection of useful open source projects that integrate with the Veracode APIs to automate scanning, results retrieval and other tasks.</p>
    
      <div class="row">
        <div class="col-md-4">
          <p style="text-align:center">CI/CD</p>
          <p style="text-align:center">Build Tools</p>
          <p style="text-align:center">IDEs</p>              
        </div>
        <div class="col-md-4">
                    <p style="text-align:center">CI/CD</p>
          <p style="text-align:center">Build Tools</p>
          <p style="text-align:center">IDEs</p>     
        </div>
        <div class="col-md-4">
                    <p style="text-align:center">CI/CD</p>
          <p style="text-align:center">Build Tools</p>
          <p style="text-align:center">IDEs</p>     
        </div>
    </div>
    
  </div>

</header>
