<header class="site-header">

    <div class="wrapper">

        <div class="row">
            <div class="col-md-12">
                <img src="{{ "/assets/images/Logo_whiteonblack.png" | prepend: site.baseurl }}" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <img src="{{ "/assets/images/header_icon.png" | prepend: site.baseurl }}" />
            </div>
            <div class="col-md-9">
                <h3>Open Source Projects</h3>
                <p>A collection of useful open source projects that integrate with the Veracode APIs to automate scanning, results retrieval and other tasks.</p>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <a href="#sdk"><p style="text-align:center">SDK</p></a>
                <a href="#cicd"><p style="text-align:center">CI/CD</p></a>
                <a href="#ide"><p style="text-align:center">IDE</p></a>
            </div>
            <div class="col-md-6">
                <a href="#workflow"><p style="text-align:center">Scripts</p></a>
                <a href="#scripts"><p style="text-align:center">Workflow</p></a>
                <a href="#resources"><p style="text-align:center">Resources</p></a>
            </div>
        </div>

    </div>

</header>
