<header class="site-header">

  <div class="wrapper">
    
    <div style="margin-top:30px">
      
      <img style="float:left; width:250px;margin-top:30px;padding:20px" src="https://www.veracode.com/themes/veracode/images/logo-veracode.svg"/>
       <h3>Open Source Projects</h3>
      <p>A collection of useful open source projects that integrate with the Veracode APIs to automate scanning, results retrieval and other tasks.</p>
      
    </div>


      <div class="row">
        <div class="col-md-4">
          <p style="text-align:center">CI/CD</p>
          <p style="text-align:center">Build Tools</p>
          <p style="text-align:center">IDEs</p>              
        </div>
        <div class="col-md-4">
                    <p style="text-align:center">CI/CD</p>
          <p style="text-align:center">Build Tools</p>
          <p style="text-align:center">IDEs</p>     
        </div>
        <div class="col-md-4">
                    <p style="text-align:center">CI/CD</p>
          <p style="text-align:center">Build Tools</p>
          <p style="text-align:center">IDEs</p>     
        </div>
    </div>
    
  </div>

</header>
