<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %} 
    
    
    <!-- Main -->
    <div id="main" class="alt">

      <section id="one">
        <div class="inner">
          <header class="major">
            <h1>News</h1>
          </header>
          {% for post in site.categories.news %}
          <a href="{{ post.url }}">
            <div class="blog-tile">
              <b>{{ post.date | date: "%-d %B %Y" }} - {{ post.title }}</b>
              <p>{{ post.summary }} <i>[{{ post.content | size }} words]</i></p>
            </div>
          </a>
          {% endfor %}
        </div>
      </section>

      <!-- <section id="one">
        <div class="inner">
          <header class="major">
            <h1>DevSecOps</h1>
          </header>
          {% for post in site.categories.devsecops %}
          <div class="blog-tile" onclick="window.location.href='{{ post.url }}';">
            <b>{{ post.date | date: "%-d %B %Y" }} - {{ post.title }}</b>
            <p>{{ post.summary }} <i>({{ post.content | size }} words)</i></p>
          </div>
          {% endfor %}
        </div>
      </section> -->

      <section id="one">
        <div class="inner">
          <header class="major">
            <h1>Management and Leadership</h1>
          </header>
          {% for post in site.categories.management-and-leadership %}
          <div class="blog-tile" onclick="window.location.href='{{ post.url }}';">
            <b>{{ post.date | date: "%-d %B %Y" }} - {{ post.title }}</b>
            <p>{{ post.summary }} <i>({{ post.content | size }} words)</i></p>
          </div>
          {% endfor %}
        </div>
      </section>
      
      <!-- One -->
      <!-- <section id="one">
        <div class="inner">
          <header class="major">
            <h1>Book Reviews</h1>
          </header>
          {% for post in site.categories.book-reviews %}
          <a href="{{ post.url }}">
            <div class="blog-tile">
              <b>{{ post.date | date: "%-d %B %Y" }} - {{ post.title }}</b>
              <p>{{ post.summary }} <i>[{{ post.content | size }} words]</i></p>
            </div>
          </a>
          {% endfor %}
        </div>
      </section> -->

      <!-- One -->
      <!-- <section id="one">
        <div class="inner">
          <header class="major">
            <h1>About Me</h1>
          </header>
          {% for post in site.categories.about-me %}
          <a href="{{ post.url }}">
            <div class="blog-tile">
              <b>{{ post.date | date: "%-d %B %Y" }} - {{ post.title }}</b>
              <p>{{ post.summary }} <i>[{{ post.content | size }} words]</i></p>
            </div>
          </a>
          {% endfor %}
        </div>
      </section> -->

      <section id="one">
        <div class="inner">
          <header class="major">
            <h1>Supporting Me</h1>
          </header>
          {% for post in site.categories.supporting-me %}
            <div class="blog-tile" onclick="window.location.href='{{ post.url }}';">
              <b>{{ post.date | date: "%-d %B %Y" }} - {{ post.title }}</b>
              <p>{{ post.summary }} <i>({{ post.content | size }} words)</i></p>
            </div>
          {% endfor %}
        </div>
      </section>

    </div>

    {% include footer.html %}

  </body>

</html>
