<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %} 
    
    
    <!-- Main -->
    <div id="main" class="alt">

      <!-- One -->
      <section id="one">
        <div class="inner">
          <header class="major">
            <h1>About Me</h1>
          </header>
          {% for post in site.posts %}
          {% if post.category == "about-me" %}
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p>{{ post.summary }}</p>
          {% endif %}
          {% endfor %}
        </div>
      </section>

      <section id="one">
        <div class="inner">
          <header class="major">
            <h1>Management and Leadership</h1>
          </header>
          {% for post in site.posts %}
          {% if post.category == "management-and-leadership" %}
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p>{{ post.summary }}</p>
          {% endif %}
          {% endfor %}
        </div>
      </section>

      <section id="one">
        <div class="inner">
          <header class="major">
            <h1>DevSecOps</h1>
          </header>
          {% for post in site.posts %}
          {% if post.category == "devsecops" %}
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p>{{ post.summary }}</p>
          {% endif %}
          {% endfor %}
        </div>
      </section>

      <section id="one">
        <div class="inner">
          <header class="major">
            <h1>Information Security</h1>
          </header>
          {% for post in site.posts %}
          {% if post.category == "information-security" %}
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p>{{ post.summary }}</p>
          {% endif %}
          {% endfor %}
        </div>
      </section>

      <section id="one">
        <div class="inner">
          <header class="major">
            <h1>Engineering</h1>
          </header>
          {% for post in site.posts %}
          {% if post.category == "engineering" %}
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p>{{ post.summary }}</p>
          {% endif %}
          {% endfor %}
        </div>
      </section>

    </div>

    {% include footer.html %}

  </body>

</html>
