<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %} 
    
    
    <!-- Main -->
    <div id="main" class="alt">

      <!-- One -->
      <section id="one">
        <div class="inner">
          <header class="major">
            <h1>About Me</h1>
          </header>
          {% for post in site.categories.about-me %}
          <a href="{{ post.url }}">
            <div class="blog-tile">
              <b>{{ post.date | date: "%-d %B %Y" }} {{ post.title }}</b>
              <p>{{ post.summary }}</p>
              <p></p>
            </div>
          </a>
          {% endfor %}
        </div>
      </section>

      <section id="one">
        <div class="inner">
          <header class="major">
            <h1>Management and Leadership</h1>
          </header>
          {% for post in site.categories.management-and-leadership %}
          <a href="{{ post.url }}">
            <div style="border: 1px solid #ccc; border-radius: 16px; padding: 15px">
              <b>{{ post.title }}</b>
              <p>{{ post.summary }}</p>
              <p>{{ post.date | date: "%-d %B %Y" }}</p>
            </div>
          </a>
          {% endfor %}
        </div>
      </section>

      <section id="one">
        <div class="inner">
          <header class="major">
            <h1>DevSecOps</h1>
          </header>
          {% for post in site.categories.devsecops %}
          <a href="{{ post.url }}">
            <div style="border: 1px solid #ccc; border-radius: 16px; padding: 15px">
              <b>{{ post.title }}</b>
              <p>{{ post.summary }}</p>
              <p>{{ post.date | date: "%-d %B %Y" }}</p>
            </div>
          </a>
          {% endfor %}
        </div>
      </section>

      <section id="one">
        <div class="inner">
          <header class="major">
            <h1>Information Security</h1>
          </header>
          {% for post in site.categories.information-security %}
          <a href="{{ post.url }}">
            <div style="border: 1px solid #ccc; border-radius: 16px; padding: 15px">
              <b>{{ post.title }}</b>
              <p>{{ post.summary }}</p>
              <p>{{ post.date | date: "%-d %B %Y" }}</p>
            </div>
          </a>
          {% endfor %}
        </div>
      </section>

      <section id="one">
        <div class="inner">
          <header class="major">
            <h1>Engineering</h1>
          </header>
          {% for post in site.categories.engineering %}
            <a href="{{ post.url }}">
              <div style="border: 1px solid #ccc; border-radius: 16px; padding: 15px">
                <b>{{ post.title }}</b>
                <p>{{ post.summary }}</p>
                <p>{{ post.date | date: "%-d %B %Y" }}</p>
              </div>
            </a>
          {% endfor %}
        </div>
      </section>

    </div>

    {% include footer.html %}

  </body>

</html>
