<!DOCTYPE html>
<style>
    {
        margin: 0;
        padding: 0;
    }

    html {
        background: url('{{ site.baseurl }}/assets/images/header_bg.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
<html>

  {% include head.html %}

<body>

    {% include header.html %}

    <div class="page-content">
        <div class="wrapper">
            {{ content }}
        </div>
    </div>

    {% include footer.html %}

</body>

</html>
