<!DOCTYPE html>
<html>

{% include head.html %}

<body>

	{% include header.html %}


	<!-- Main -->
	<div id="main" class="alt">

		<!-- One -->
		<section id="one">
			<div class="inner">
				<header class="major">
					<h1>{{ page.title }}</h1>
				</header>
				{{ content }}
			</div>
		</section>

		<!-- Two -->
		<section id="two">
			<div class="inner">
				</hr>
				Hi Reader! <i class="fa fa-hand-peace-o"></i>
				If you like what you read, please consider <b>supporting me</b> and there are a few ways to do this!
				<ul>
					<li>
						If I can be of value to your organisation considering viewing the security and speaking <a
							href="/services">services I offer</a>.
					</li>
					<li>
						If you are interested in LRQA services, considering letting me <a
							href="/supporting-me/2024/04/23/about-lrqa.html">make an introduction</a>.
					</li>
					<li>
						Or perhaps consider just <a href="/supporting-me/2024/04/23/buy-me-a-coffee.html">buying me a
							coffee.
					</li>

				</ul>

			</div>
		</section>

		<div class="inner">
			</hr>
			<div id="mc_embed_shell">
				<div id="mc_embed_signup">
					<form
						action="https://github.us17.list-manage.com/subscribe/post?u=80b0f43ee17c66803c91437ca&amp;id=b88b46a818&amp;f_id=003e28e1f0"
						method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
						target="_self" novalidate="">
						<div id="mc_embed_signup_scroll">
							<h2>Get notified when I post new content!</h2>
							<div class="mc-field-group"><label for="mce-EMAIL">Email Address <span
										class="asterisk">*</span></label><input type="email" name="EMAIL"
									class="required email" id="mce-EMAIL" required="" value=""></div>
							<div id="mce-responses" class="clear foot">
								<div class="response" id="mce-error-response" style="display: none;"></div>
								<div class="response" id="mce-success-response" style="display: none;"></div>
							</div>
							<div aria-hidden="true" style="position: absolute; left: -5000px;">
								/* real people should not fill this in and expect good things - do not remove this or
								risk form bot signups */
								<input type="text" name="b_80b0f43ee17c66803c91437ca_b88b46a818" tabindex="-1" value="">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		</section>

	</div>

	{% include footer.html %}

</body>

</html>